.dashboard {
    background-color: rgb(195, 209, 250);
    max-width: 60vw;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}

.brand{
    font-family: Trajan;
    font-size: 45px;
}