.front-page {
  background-color: #2D2C2C;
  text-align: center;

  .preview-img{
    display: flex;
    justify-content: center;
    li{
      font-family: "Roboto", sans-serif ;
      font-optical-sizing: auto;
      font-weight: 200;
      font-size: 40px;
      font-style: italic;
      text-decoration: none;
      padding-right: 2em;
      padding-top: 0%;
      padding-bottom: 4em;
      
    }

    img{
      width: 35em;
      border-color: black;
      border-style: solid;
      border-radius: 15px;
      border-width: 5px;
    }

  }


  .front-page-header {
    display: flex;
    justify-content: center;
    gap: 1em;
    svg {
      margin-bottom: 0.5em;
      width: 10em;
    }
  }

  .flex-container {
    color: #DBD9D9;
    display: flex;
    justify-content: center;
    gap: 3em;
    svg {
      width: 1em;
      margin-left: 10px;
    }
    .format {
      display: flex;
      gap: 0.5em;
    }
  }

  ul {
    color: #FFE03B;
    font-family: "Roboto", sans-serif;
    padding-top: 5em;
    list-style-type: none;
    
  }

  #main{
    font-family: "Roboto", sans-serif;
    color: $primary;


  }

  .flex-container{
    font-family: "Oswald", sans-serif;


  }

  .bottom-half{
    background-color: #DBD9D9;
  }


hr{
  color: $primary;
  opacity: 1;

}

.front-page-header{

h1{
margin-bottom: 0em;


}


}
#main{
  margin-top: 40px;

}
}
.container-fluid{
padding-right: 0;
padding-left: 0;

}