.monitor {
    height:100%;
}
.monitor-destinations {
    display: grid;
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    justify-content: start;
    justify-content: safe center;
    column-gap: 20px;
    height: calc(100% - 200px);
    
    .destination {
        margin-bottom: 30px;
        text-align: center;
        padding: 15px;
        border-radius: $edge-rounding;
        box-shadow: $drop-shadow;
        width: 350px;
        max-height: 900px;
        overflow: hidden;
        background-color: $primary;
        .in {
            background-color: #ccaa00;
        }
        .max {
            background-color: #5F5D5D;
        }
        .waiting {
            background-color: #A80000;
        }
        .destination-heading {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1em;
            padding-top: 1em;
            em {
                border-radius: 2em;
                color: $primary;
                line-height: .9;
                padding: 7px;
                height: 30px;
                margin-top: 5px;
            }
        }
        .destination-body {
            overflow-y: auto;
            // height: calc(100vh - 350px);
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            overflow: scroll;
            height: 49.5em;
            border-radius: $edge-rounding;
            opacity: .85;
            footer {
                form {
                    .btn, .form-select {
                        border: white solid 1px;
                    }
                }
                
            }
            
            
            .destination-log-disabled {
                background-color: $disabled-log;
                color: $pass-font-color;
                padding: 20px;
                width: 100%;
                border-radius: $edge-rounding;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                row-gap: 15px;

                &.stopwatch-warning {
                    background-color: #91060696;
                }

                .timer-display {
                    font-size: 3em;
                }
            }
            .destination-log {
                background-color: $pass-bg-color;
                color: $pass-font-color;
                padding: 20px;
                width: 100%;
                border-radius: $edge-rounding;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                row-gap: 15px;

                &.stopwatch-warning {
                    background-color: #91060696;
                }

                .timer-display {
                    font-size: 3em;
                }
            }
        }

    }

}
