.monitor {
    height: 100%;
}

.monitor-destinations {
    display: grid;
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    justify-content: start;
    justify-content: safe center;
    column-gap: 20px;
    padding-bottom: 50px;
    padding-left: 120px;
    // height: calc(100% - 200px);

    .destination {
        // margin-bottom: 30px;
        text-align: center;
        padding: 15px;
        border-radius: $edge-rounding;
        box-shadow: $drop-shadow;
        width: 350px;
        // max-height: 900px;
        // overflow: hidden;
        background-color: $navbar-color;

        .labels {
            display: flex;
            justify-content: space-evenly;


            .in {
                background-color: #c64d11;
            }

            .max {
                background-color: #29561c;
            }

            .waiting {
                background-color: #A80000;
            }
        }

        .destination-heading {
            padding-top: 1em;
            justify-content: center;

            em {
                border-radius: 2em;
                color: $primary;
                line-height: .9;
                padding: 8px 18px;
                // height: 30px;
                // margin-top: 5px;
                box-shadow: $drop-shadow;
            }

            h2 {
                overflow: scroll;
                overflow-y: hidden;
                height: 78px;
            }
        }

        .destination-body {
            // padding-bottom: 6em;
            overflow-y: auto;
            // height: calc(100vh - 350px);
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            overflow: scroll;
            border-radius: $edge-rounding;
            opacity: .85;

            footer {
                form {

                    .btn,
                    .form-select {
                        border: white solid 1px;
                    }
                }

            }


            .destination-log-disabled {
                background-color: $disabled-log;
                color: $pass-font-color;
                padding: 20px;
                width: 100%;
                border-radius: $edge-rounding;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                row-gap: 15px;
                border: solid white 1px;


                &.stopwatch-warning {
                    background-color: #91060696;
                }

                .timer-display {
                    font-size: 3em;
                }
            }

            .destination-log {
                background-color: $pass-bg-color;
                color: $pass-font-color;
                padding: 20px;
                width: 100%;
                border-radius: $edge-rounding;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                row-gap: 15px;
                border: solid white 1px;

                &.stopwatch-warning {
                    background-color: #91060696 !important;
                }

                .timer-display {
                    font-size: 3em;
                }
            }
        }

    }

}