* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: $header-font-color;
}

body {
    background-color: $body-color;
}

// .footer {
//     background-color: $navbar-color;
// }
