* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: $header-font-color;
}

body {
    background-color: $body-color;
}

.site-footer {
    background-color: $navbar-color;
    color: $primary;
}

.navbar {
    background-color: $navbar-color;
}

.navbar-dark .navbar-nav .nav-link {
    color: $link-color;
    text-decoration: none;
    transition: $soft;
    &:hover, &:focus, &:active {
        color: $primary-hover;
    }
}

.nav-link {
    color: $link-color;
    text-decoration: none;
    transition: $soft;
    &:hover, &:focus, &:active {
        color: $primary-hover;
    }
}

