$navbar-color: #ffffff;
$header-font-color: rgb(42, 42, 47);
$body-color: #9592b0;
$drop-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
$pass-bg-color: #0000004f;
$pass-font-color: rgb(255, 255, 255);
$edge-rounding: 10px;
$disabled-log: #4e4e4ebe;
// Colors
$primary: hsl(212, 100%, 17%);
$primary-hover: hsl(212, 100%, 50%);
$link-color: #022864;

// Transition
$soft: 0.3s all ease;