$navbar-color: #2d2c2c;
$header-font-color: #dbd9d9;
$body-color: #5f5d5d;
$drop-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
$pass-bg-color: #0000004f;
$pass-font-color: rgb(255, 255, 255);
$edge-rounding: 10px;
$disabled-log: #4e4e4ebe;
// Colors
$primary: #dbd9d9;
$primary-hover: #79a2cc;
$link-color: #dbd9d9;

// Transition
$soft: 0.3s all ease;