[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-import-export = "*"
django-bootstrap-v5 = "*"
django-sass-processor = "*"
libsass = "*"

[dev-packages]

[requires]
python_version = "3.11"
