.button-group {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    row-gap: 15px;   
}

// .btn {

// }

// .btn-primary {

// }

// .btn-secondary {

// }