.brand {
}

.brand a{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 45px;
    color: $primary;
    text-decoration: none;
    transition: 0s;
    opacity: 0;
    &:hover, &:focus, &:active {
        color: $primary-hover;

    }
}