.brand{
    font-family: "Roboto", semorif;
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
}

.brand a{
    color: $primary;
    text-decoration: none;
    transition: $soft;
    &:hover, &:focus, &:active {
        color: $primary-hover;
    }
}