.student-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px 10px;
    top: 0;
    margin-bottom: 20px;

    .tep {
        display: flex;
    }

    label {
        display: none;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 1.9rem;
        color: $primary;
        text-transform: uppercase;
    }

    .student-sign-in-form {
        display: inline-block;
        min-width: 420px;
        margin: auto;
    }

    .notice {
        font-style: italic;
        margin-top: -8px;
    }
}