{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class = 'login_box'>
    <h1> Account Login</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
      
        {% bootstrap_form form  %}
     
        <input type='hidden' name='next' value='{{ next }}'>
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
      </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
 </div>
{% endblock %}