{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h1> Select Destinations </h1>

    <div class = "col-sm-6">
    <form action="" method="post" id="destination-form">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Change Buildings</legend>
          {% bootstrap_form form layout="horizontal" exclude="destinations" %}
          <input type="hidden" name="next" value="{{ next }}" >
          <button type="submit" class="btn btn-primary">
            Change Buildings
          </button>
        </fieldset>
        
        <fieldset class="form-group">
          <legend>Change Destinations</legend>
        {% bootstrap_form form exclude="building" %}
        <button type="submit" class="btn btn-primary">
          Monitor Destinations
        </button>
        </fieldset>
      </form>
    </div>
{% endblock %}