{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="dashboard">
    <h1> Select Destinations </h1>

    <div class = "col-sm-6">
    <form action="" method="post" id="destination-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type='hidden' name='next' value='{{ next }}' >
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Monitor
        </button>
        {% endbuttons %}
      </form>
  </div>
</div>
{% endblock %}