{% extends "base_generic.html" %}
{% load bootstrap5 %}

{% block content  %}
{% load static %}
<div class = "student-input-page">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <div class = "student-button">
        <h1> {{ profile.building }} </h1>

        <form action="" method="POST" autocomplete="off">
            {% csrf_token %} 
            {{ form }}
            
            {% for destination in destinations %}
            <button name='action' value='Enter {{ destination.id }}'>{{ destination }}</button>
            {% endfor %}
        </form>
    </div>
    <!-- <hr class = "hr"/> -->

    <div class="container text-center">
    <div class="row align-items-center">
    {% if destinations %}
        {% for destination in destinations %}
        <div class = "col">
            <h1> {{ destination.room }} </h1> <br>
            <p><strong> {{ destination.category }} </strong></p>

            {% for log in destination.hallpass_set.all %}
                {% if not log.Time_out %}
                    <div class = 'destination-log'>
                        <ul> 
                            <p>{{ log.student_id }}</p> 
                            <p>Time In: {{ log.Time_in|date:"h:i A" }}</p>
                            <div class ="timer-display"> 00 : 00 : 00 : 000 </div>
                        </ul> 

                        <div class = "start-time" hidden>{{ log.Time_in.isoformat }}</div>

                        <form id = 'form' action="" method="POST">
                            {% csrf_token %}
                            <button id = 'logOut' name = 'action' value = 'Out {{ log.id }}' >
                                Log Out
                            </button>
                        </form>
                    </div>
            
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <p> No Destinations Selected</p>
    {% endif %}
    </div>
    </div>
    <script>  
        timeRefs = document.querySelectorAll(".timer-display");
        startTimes = document.querySelectorAll(".start-time");

        setInterval(() => {       
            for (var i = 0; i < timeRefs.length; i++) {
                let date = new Date() - new Date(startTimes[i].innerHTML);
                let times = formatDate(date);

                toDisplay = formatIntToStopwatch(times[2]) + " : " + formatIntToStopwatch(times[1]) + " : " + formatIntToStopwatch(times[0]);
                timeRefs[i].innerHTML = toDisplay;
            }
        }, 10);

        function formatDate(difference) {
            let hours = Math.floor((difference % (1000 * 60 * 60 * 60)) / (1000 * 60 * 60));
            let minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((difference % (1000 * 60)) / 1000);
            return [seconds, minutes, hours];
        }

        function formatIntToStopwatch(x, zeros = 2) {
            digits = x.toString().length;
            
            if (digits >= zeros) {
                return x.toString();
            }
            
            zerosToAdd = zeros - digits;
            return "0".repeat(zerosToAdd) + x.toString();
        }
    </script>
</div>
{% endblock %}