{% extends "base.html" %}
{% load bootstrap5 %}

{% block content  %}
{% load static %}

<div class="monitor row">
    <section class="student-sign-in">
        <h2> {{ profile.building }}</h2>

        <form id="student-field" action="" method="POST" autocomplete="off" class="student-sign-in-form">
            {% csrf_token %} 
            {% bootstrap_form form %}
            <div class="button-group">
                {% for destination in destinations %}
                    <button name="action" value="Enter {{ destination.id }}" form="student-field" class="btn btn-secondary mx-3">{{ destination.category }}</button>
                {% endfor %}
            </div>

        </form>
    </section>

    <section class="monitor-destinations" style="grid-template-columns: repeat({{ destinations.count }}, 350px);"> 
        {% if destinations %}
            {% for destination in destinations %}
                <aside class="destination" style="background-color: {{ destination.category.color }}; color:{{ destination.category.text_color }}  ">
                    <h3 class="destination-heading"><strong>{{ destination }}</strong> <br> <em>Max people: {{ destination.max_people_allowed }}</em></h3>
                    <section class="destination-body">
                        {% for log in destination.hallpass_set.all %}
                            {% if not log.Time_out %}
                                <div class="destination-log">
                                    <div class="student">{{ log.student_id }}</div> 
                                    <div class="time-in">Time In: {{ log.Time_in|date:"h:i A" }}</div>
                                    <div class="timer-display"> &nbsp; </div>
                                    <div class="start-time" hidden>{{ log.Time_in.isoformat }}</div>
                                    <form id="form-{{log.id}}" action="" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" id="logOut" name="action" value ="Out {{ log.id }}" >
                                            Log Out
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                </aside>
            {% endfor %}
        {% endif %}
    </section>

</div><!-- /monitor -->
   
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#id_student').focus();
    logs = document.querySelectorAll(".destination-log");
    minutesUntilWarning = 5;

    setInterval(() => {     
        logs.forEach(log => {
            let display = log.querySelector(".timer-display");
            let startTime = log.querySelector(".start-time");

            let deltaMilliseconds = new Date() - new Date(startTime.innerHTML);
            display.innerHTML = millisecondsToStopWatch(deltaMilliseconds);

            if (deltaMilliseconds > 1000 * 60 * minutesUntilWarning && !log.classList.contains('stopwatch-warning')) {
                log.classList.add('stopwatch-warning');
            }
        })
    }, 10);

    // function formatDate(difference) {
    //     let hours = Math.floor((difference % (1000 * 60 * 60 * 60)) / (1000 * 60 * 60));
    //     let minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
    //     let seconds = Math.floor((difference % (1000 * 60)) / 1000);
    //     return [
    //         hours.toString().padStart(2, '0'),
    //         minutes.toString().padStart(2, '0'), 
    //         seconds.toString().padStart(2, '0'), 
    //     ];
    // }
    function millisecondsToStopWatch(milliseconds) {
        time = []
        // time units in milliseconds
        s = 1000;
        m = 60 * s;
        h = 60 * m;
        d = 24 * h;
        conversions = [d,h,m,s];
        // get the number of days
        conversions.forEach(t=> {
            elapsed = Math.floor(milliseconds/t);
            if(elapsed>0 || time.length>0) {
                time.push(elapsed);
                // remove the time elapsed from milliseconds
                milliseconds -= elapsed * t
            }
        })
        if (time.length > 1) {
            return time.map( el => el.toString().padStart(2,'0')).join(':');
        }
        if (time.length > 0) {
            return `:${time[0]?.toString().padStart(2,'0')}`;
        }
        return ":00";  
    }
</script>
{% endblock %}