<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Hallpass</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <!-- <div class="row"> -->
        <div class="col-sm-10">
          {% block sidebar %}
            

           <ul class="navbar-nav ms-auto  align-items-center">flex
              {% if user.is_authenticated %} 

              <nav class="navbar  bg-body-tertiary fixed-top navbar-light bg-light">
                <div class="container-fluid">
                  <h1 class="brand">Hallpass</h1>
                
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                      <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'select' %}">Select Destinations</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'monitor' %}">Monitor Destinations</a>                      
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>                      
                      </li>
                      
                    </ul>
                    
                  </div>
                </div>
              </nav>
             
              {% endif %}

            <!-- </ul>

          </div>
        </nav> -->
            
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
