{% extends "base.html" %}
{% load bootstrap5 %}
{% load socialaccount %}

{% block content %}
<h1>Hall Pass</h1>
<p><em>The student monitoring system</em></p>

<h2>Get started</h2>
<p>To begin monitoring hall passes, login with your authorized Google account below.
    If you are unsure if you have access, please see your administrator, 
    or <a href="{% url 'contact' %}">contact our team</a>.
</p>
{% load socialaccount %}
<form class="d-inline" id="login" action="{% provider_login_url "google" %}" method="post">
    {% csrf_token %}
    <button class="btn btn-outline-primary w-100" type="submit">
        <img style="width: 25px" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="google logo">
        Login with Google
    </button>
</form>
{% endblock %}