{% extends "base.html" %}
{% load bootstrap5 %}
{% load socialaccount %}
{% load static %}

{% block content %}

<div class="login">
<h2>Get started</h2>


<p>To begin monitoring hall passes, login with your authorized Google account below.
    If you are unsure if you have access, please see your administrator, 
    or <a href="{% url 'contact' %}">contact our team</a>.
</p>
{% load socialaccount %}
<form class="d-inline" id="login" action="{% provider_login_url 'google' %}" method="post">
    {% csrf_token %}
    <div class="login-button d-flex justify-content-center">
        <button class="btn p-0" type="submit">
            <img src="{% static '/images/web_light_sq_SI.svg' %}" alt="Sign in with Google">
        </button>
</div>
<p class = "login-terms">By signing up, you agree to the <a href="{% url 'terms' %}" >Terms of Use</a> and <a href="{% url 'privacy' %}" >Privacy Policy</a>, including Cookie Use.</p>

          
        </nav>
</form>
</div>
{% endblock %}