/* body  {
  background-color: #1a1a39;
  color: white;
  overflow-y: scroll;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}



.student-logs {
  flex-wrap: wrap;
  min-height: 1000px;
  height: auto;
  width: auto;
}

.destination-log {
  display: block;
  margin: 5px;
  background-color: #2b2a4e;
  opacity: 0.7;
  width: 300px;
  display: block;
  background-color: #2b2a4e;
  opacity: 0.7;
  float:right;
}
 */
/* .student-button {
  display: flex;
  background-color: #4a497a;
  flex-direction: column;
  width: 30%;
  box-shadow: inset 20px 0px #343457;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 0px 0px 0px;
} */

/* h1 {
  color:#1a1a39;
  text-align: center;
  font-family:yellowtail ;
} */

/* .student-input-page {
  display: flex;
  height: 100%;
} */